<h1> Personal Details </h1>
<div class="container">
  <div class="formContent">
    <form>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender">
              <option selected>Select...</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="pref">Prefer not to say</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-primary position-absolute bottom-60 start-50 translate-middle-x">Next</button>
    </form>
  </div>
</div>

